@page "/"
@inject HttpClient? Http

<PageTitle>冻人的小径</PageTitle>

<h3 class="p-2">冻人的小径</h3>

@if (_trails is null)
{
    <p>载入中...</p>
}
else
{
    <div class="grid">
        @foreach (var trail in _trails)
        {
            <TrailCard Trail="@trail" />
        }
    </div>
}

@code{
    private IEnumerable<Trail>? _trails;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _trails = await Http!.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data1.json");
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading trail data: {ex.Message}");
        }
    }
}